Checks: "bugprone-*,modernize-*,readability-*,performance-*,portability-*,clang-analyzer-*,-modernize-use-trailing-return-type,-bugprone-suspicious-enum-usage"
WarningsAsErrors: ""
HeaderFilterRegex: "/home/tae/Forge/manzil/src/.*"
FormatStyle: none
