@font-face {
  font-family: 'AmiriQuran';
  src: local('AmiriQuran'), url(./assets/fonts/AmiriQuran.woff) format('woff');
}
.arabic-text {
  font-family: 'AmiriQuran', serif;
  font-size: 32px;
  direction: rtl;
  text-align: right;
  line-height: 2; 
}
